footer{
    background: #FAFAFA;
}
.contacts-item__logo{
    display: inline-block;
    margin-bottom: 79px;
    font-weight: bold;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 0.125em;
    text-transform: uppercase;
    color: #252525;
}
.contacts-item__link{
    margin-bottom: 18px;
    list-style-type: none;
}
.contacts-item__text{
    text-decoration: none;
}
.contacts-item__text:hover{
    padding-bottom: 1px;
    border-bottom: 1.2px solid #252525;
    text-transform: capitalize;
}
.contacts-wrap{
    padding: 60px 0 60px 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline   ;
}
.contacts-links__title{
    margin-bottom: 66px;
}
.contacts-links__link{
    font-weight: 300;
    font-size: 41px;
    line-height: 130%;
    text-decoration: none;
    color: #252525;
}
.contacts-links__link:hover{
    transition: 0.4s;
    color: #252525;
    opacity: 0.7;
}
.contacts-links__wrap{
    display: flex;  
    justify-content: space-between;
}
.contacts-links__adres{
    display: flex;
    flex-direction: column;
}
.contacts-links_text{
    margin-bottom: 18px;
}
.contacts-links_text:first-child{
    opacity: 0.6;
}
.contacts-links__link-sec{
    width: fit-content;
    opacity: 0.3;
    text-decoration: none;
}
.contacts-links__link-sec:hover{
    color: #252525;
    opacity: 1;
    padding-bottom: 1px;
    border-bottom: 1.2px solid #252525;
    text-transform: unset;
}
.contacts-links__email{
    display: flex;
    flex-direction: column;
}
.contacts-links__text{
    margin-bottom: 18px;
}
.contacts-links__text:first-child{
    opacity: 0.6;
}
.contacts-links__link-alt{
    text-decoration: none;
}
.contacts-links__link-alt:hover{
    color: #252525;
    opacity: 0.7;
}