@import url("./fonts.css");
@import url(./styles.css);
body {
  font-family: "SF Pro Display";
}

* {
  margin: 0;
  padding: 0;
  font-size: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu-logo {
  color: #252525;
}

.menu-nav__link {
  padding: 55px 0;
}

.menu-nav__link:first-child {
  margin-right: 50px;
}

.menu-nav__link:last-child {
  margin-left: 7px;
}

.menu-nav__text {
  text-decoration: none;
  color: #252525;
}

.menu-nav__text:first-child {
  background-image: -webkit-gradient(linear, left top, left bottom, from(currentColor), to(currentColor));
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  -webkit-transition: background-size .3s;
  transition: background-size .3s;
}

.menu-nav__text:first-child:hover {
  background-size: 100% 1px;
}

.menu__burger {
  margin-left: 51px;
  background-image: url(./images/Vector.png);
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.news__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news__title {
  margin: 200px 0 80px 0;
}

.news-card {
  margin-bottom: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news-card__wrap {
  width: 40%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news-card__title {
  margin-bottom: 50px;
}

.news-card__descr {
  width: 85%;
}

.news-card__date {
  width: 86%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 63px;
}

.news-card__link {
  text-decoration: none;
}
/*# sourceMappingURL=news.css.map */