@import url("./fonts.css");
@import url(./styles.css);
@import "color";
body{
    font-family: "SF Pro Display";
}
*{
    margin: 0;
    padding: 0;
    font-size: 0;
    box-sizing: border-box;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
header{
    position: absolute;
    top: 0;
    left: 0;    
    width: 100%;
    z-index: 1;
}
.menu-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-nav{
    display: flex;
    align-items: center;
}
.menu-nav__list{
    display: flex;
    justify-content: flex-end;
}
.menu-logo{
    color: $forth;
}
.menu-nav__link{
    padding: 55px 0;
}
.menu-nav__link:first-child{
    margin-right: 50px;
}
.menu-nav__link:last-child{
    margin-left: 7px;
}
.menu-nav__text{
    text-decoration: none;
    color: $forth;
}
.menu-nav__text:first-child{
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size .3s;
}
.menu-nav__text:first-child:hover{
    background-size: 100% 1px;
}
.menu__burger{
    margin-left: 51px;
    background-image: url(./images/Vector.png);
    width: 30px;
    height: 20px;
    cursor: pointer;
}
// section
.news__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.news__title{
    margin:200px 0 80px 0;
}
.news-card{
    margin-bottom: 130px;   
    display: flex;
    justify-content: space-between;
    &__wrap{
        width: 40%;
        flex-direction: column;
        justify-content: space-between;
    }
    &__title{
        margin-bottom: 50px;
    }
    &__descr{
        width: 85%;
    }
    &__date{
        width: 86%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 63px;
    }
    &__link{
        text-decoration: none;
    }
}